{%extends 'base.html'%}
{%load static%}
{%block content%}
<section id="hero">
    <div class="hero-container">
        <h1 data-aos="zoom-in"><span id="glow">Vision</span></h1>
        <h2 data-aos="fade-up">Problem Domain: Safety and Surveillance</h2>
        <a data-aos="fade-up" data-aos-delay="200" href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
</section>

{% include 'includes/navbar.html' %}

<main id="main">
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h3>Solving the issue from a different, wider perspective. </h3>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <div class="image" style="padding-top: 0;">
                        <img src="{%static 'img/about.png'%}" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-6 pt-3" data-aos="fade-left">
                    <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
                        <h4>Surveillance is an integral part of security and control.</h4>
                        <p class="font-italic">
                            Requires extended periods of examining multiple footages for evidence. This manual task
                            provides
                            evidence in court but is rarely used to detect and prevent crime in real-time.
                            We bring a solution to ensure a step towards safety of women and reduce the crime
                            statistics.

                        </p>
                        <h4>In Delhi</h4>
                        <ul>
                            <li><i class="bx bx-check-double"></i> 11,542 cases of crime in 2017</li>
                            <li><i class="bx bx-check-double"></i> 1,05,000 CCTV cameras are installed in public
                                places.</li>
                            <li><i class="bx bx-check-double"></i> 1,40,000 CCTV cameras are in the process of
                                installation.</li>
                        </ul>
                        <p>
                            We convert an evidence collecting tool to a crime prevention and detection tool.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End About Us Section -->
    <section id="upload" class="upload">
        <div class="section-title" data-aos="fade-up">
            <h2>Test our Project Live!</h2>
            <p>Use the button given below to test out our project.</p>
        </div>
        <div class="d-flex align-items-center justify-content-center" data-aos="fade-up">
            <form method="post" enctype="multipart/form-data" id="vid_form">
                {% csrf_token %}
                <input type="file" accept=".mp4" name="video" required="" id="id_vid" hidden>
                <label for="id_vid" class=" fBtn cta-btn align-middle" style="cursor: pointer;">Choose Video
                    File</label>
                <button class="btn btn-secondary" hidden>Submit</button>
            </form>
        </div>
    </section>
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2>Tech Stack</h2>
                <p>This project encompasses various technologies within itself.</p>
            </div>

            <div class="row">
                <div class="col-12 col-lg-6 icon-box mt-2 " data-aos="fade-up">
                    <i class="bx bx-receipt"></i>
                    <h4>Tensorflow</h4>
                    <p>Prediction and analysis</p>
                </div>
                <div class="col-12 col-lg-6 icon-box mt-2" data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-cube-alt"></i>
                    <h4>OpenCV</h4>
                    <p>Video frame capturing and pre-processing</p>
                </div>
                <div class="col-12 col-lg-6 icon-box mt-2" data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-images"></i>
                    <h4>Django</h4>
                    <p>Web Platform, API End point and Job Scheduler for Tensorflow</p>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->
</main><!-- End #main -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
{%endblock content%}
{%block script%}
<script type="text/javascript">
    document.getElementById('vid_form').onchange = function () {
        document.getElementById('vid_form').submit();
    };
</script>
{%endblock script%}